html {
  background: #000;
  font-family: "Noto Serif", serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

header {
  position: relative;
  margin: 30px 0;
}

header:after {
  content: "";
  width: 460px;
  height: 15px;
  display: inline-block;
  text-align: center;
  background-size: 70%;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 30px;
}

.nowplaying {
  font-size: 120px;
  line-height: 1;
  color: #eee;
  text-shadow: 0 0 5rem #028ae9;
  transition: all 0.07s ease;
  min-height: 120px;
}

.keyboard {
  /* display: flex;
  position: relative;
  height: 400px;
  width: 100%;
  margin-top: 0;
  max-width: 880px;
  margin-bottom: 20px; */
}

.keys {
  display: flex;
  width: 100%;
  height: 350px;
  /* max-width: 880px; */
  position: relative;
  margin: 40px auto 0;
  /* cursor: none; */
}

.key {
  position: relative;
  border: 4px solid black;
  border-radius: 0.5rem;
  transition: all 0.07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}

.key:not(.sharp) {
  /* float: left; */
  width: 10%;

  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.key.sharp {
  /* position: absolute; */
  width: 6%;
  height: 60%;
  background: #000;
  margin: 0 -3% 0 -3%;
  color: #eee;
  top: 0;
  z-index: 3;
}

/* .key[data-key="1"] {
  left: 7%;
}

.key[data-key="2"] {
  left: 17%;
}

.key[data-key="3"] {
  left: 37%;
}

.key[data-key="4"] {
  left: 47%;
}

.key[data-key="5"] {
  left: 57%;
}

.key[data-key="6"] {
  left: 77%;
}

.key[data-key="7"] {
  left: 87%;
} */

.playing {
  transform: scale(0.95);
  border-color: #028ae9;
  box-shadow: 0 0 1rem #028ae9;
}

.nowplaying {
  font-size: 120px;
  line-height: 1;
  color: #eee;
  text-shadow: 0 0 5rem #028ae9;
  transition: all 0.07s ease;
  min-height: 120px;
}

.hints {
  display: block;
  width: 100%;
  opacity: 1;
  position: absolute;
  bottom: 7px;
  transition: opacity 0.3s ease-out;
  font-size: 20px;
}

.keys:hover .hints {
  opacity: 1;
}

.game-container {
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
  /* max-width: 880px; */
  margin-bottom: 20px;
  /* border: 4px solid white; */
  border-radius: 0.5rem;
}

.note-container {
  position: relative;
  width: 10%;
  height: 100%;
  /* border: 4px solid white; */
}
.note-sharp {
  width: 6%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.156);
  /* transform: translateY(100%); */
  /* border: 0; */
}

.note {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: yellow;
}
.finish {
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.445);
  bottom: 1px;
}
.note-A {
  background-color: red;
}
.note-Z {
  background-color: blue;
}
.note-E {
  background-color: green;
}
.note-R {
  background-color: yellow;
}
.note-T {
  background-color: orange;
}
.note-Y {
  background-color: purple;
}
.note-U {
  background-color: pink;
}
.note-I {
  background-color: cyan;
}
.note-O {
  background-color: magenta;
}
.note-P {
  background-color: lime;
}
.note-Q {
  background-color: rgb(255, 0, 191);
}
.note-S {
  background-color: rgb(0, 255, 85);
}
.note-D {
  background-color: rgb(19, 193, 190);
}
.note-F {
  background-color: rgb(3, 179, 255);
}

.note-1 {
  background-color: rgb(13, 11, 113);
  width: 3%;
}

.note-2 {
  background-color: rgb(143, 11, 113);
  width: 3%;
}

.note-3 {
  background-color: rgb(33, 133, 113);
  width: 3%;
}

.note-4 {
  background-color: rgb(43, 141, 43);
  width: 3%;
}

.note-5 {
  background-color: rgb(55, 15, 255);
  width: 3%;
}

.note-6 {
  background-color: rgb(22, 323, 244);
  width: 3%;
}

.note-7 {
  background-color: rgb(443, 11, 113);
  width: 3%;
}

.note-8 {
  background-color: rgb(155, 151, 13);
  width: 3%;
}

.note-9 {
  background-color: rgb(444, 210, 222);
  width: 3%;
}

.note-0 {
  background-color: rgb(432, 987, 113);
  width: 3%;
}

/* Modal Styles */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #3e3e7e;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #fff;
}

.song-buttons button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.song-buttons button:hover {
  background-color: #ddd;
}
